/* Make body and html take up full height */
body, html {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Main content container */
.main-content {
    flex: 1; /* Fill remaining vertical space */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Custom select wrapper */
custom-select-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

/* Custom select styles */
.custom-select {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    line-height: 1.3;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

/* Gender radio button wrapper */
.gender-radio {
    display: flex;
    align-items: center;
}

.gender-radio input[type="radio"] {
    margin-right: 10px;
}

.gender-radio label {
    margin-right: 20px;
}


.back-to-home {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    margin-top: 20px;
    display: inline-block;
    padding-right: 15px;
}
.signup-link {
    text-decoration: none;
    color: #fff;
    background-color: #4CAF50; /* Green background */
    padding: 10px 20px; /* Adjust padding */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s;
    font-size: 16px;
}

.signup-link:hover {
    background-color: #45a049; /* Darker green on hover */
}


