.container {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.car-details {
    max-width: 400px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    color: #008000; /* Green color */
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="date"],
input[type="submit"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
.additional-info {
    margin-top: 20px;
    padding: 15px;
    background-color: #f0f8ff; /* Light blue background color */
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Shadow effect */
}

.additional-info p {
    margin: 5px 0;
}

.additional-info strong {
    font-weight: bold;
    color: #333; /* Text color */
}

.additional-info .btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.additional-info .btn:hover {
    background-color: #45a049;
}
